{% extends "actions/base.html" %}
{% block title %}Stats — Red Sole Robot{% endblock %}
{% block content %}
    <h1 class="title">Last 7 days</h1>
    <div class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Processed</p>
                <p class="title">{{ total_processed }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Flagged</p>
                <p class="title">{{ total_flagged }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Unreviewed flags (all time)</p>
                <p class="title">{{ total_unreviewed }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Report failures</p>
                <p class="title">{{ report_failures }}</p>
            </div>
        </div>
    </div>
{% endblock %}
